<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.tad.school.genhtml.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.tad.school.genhtml.ui.definition">
         <iterate
               ifEmpty="false"
               operator="and">
            <instanceof
                  value="com.tad.school.Academy">
            </instanceof>
         </iterate>
      </definition>
   </extension>

</plugin>
